:host {
    .product {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: rgba(21, 41, 52, 0.2) 0px 12px 24px 0px;
        transition: transform 750ms;
        &:hover {
            &>img {
                transform: scale(1.05);
            }
        }
        img {
            width: 100%;
            transition: transform 750ms;
        }
        .details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            h2 {
                font-size: 1.5rem;
                margin: 0;
                @include main-font();
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 750ms;
                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
}